{% extends 'base.html' %}
{% block content %}
    <div class="card p-2" style="max-width:350px;margin: 80px auto;">
        <form class="px-4 py-3" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control {% if form.password1.errors %} is-invalid{% endif %}" name="password1" id="password1" placeholder="Password">
                <div class="invalid-feedback">{{ form.password1.errors }}</div>
            </div>
            <button type="submit" class="btn btn-primary">Set new password</button>
        </form>
        <div class="dropdown-divider"></div>
        <div class="nav flex-column">
            <a class="underlineHover px-4 nav-link" href="{% url 'login page' %}">Back to login</a>
        </div>
    </div>
    {% include "modal.html" %}
{% endblock %}