{% extends 'base.html' %}
{% block content %}
    <div class="card p-2" style="max-width:350px;margin: 80px auto;">
        <form class="px-4 py-3" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="email@example.com">
            </div>
            <button type="submit" class="btn btn-primary">Reset my password</button>
        </form>
        <div class="dropdown-divider"></div>
        <div class="nav flex-column">
            <a class="underlineHover px-4 nav-link" href="{% url 'login page' %}">Back to login</a>
        </div>
    </div>
    {% include "modal.html" %}
{% endblock %}