{% extends 'base.html' %}
{% block content %}
    <div class="card p-2" style="max-width:350px;margin: 80px auto;">
        <form class="px-4 py-3" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" name="username" required id="email" placeholder="email@example.com">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" required id="password" placeholder="Password">
            </div>
            <input type="hidden" name="next" value="{% url 'results page' %}" />
            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
        <div class="dropdown-divider"></div>
        <div class="nav flex-column">
            <a class="underlineHover px-4 nav-link" href="{% url 'register page' %}">New around here? Sign up</a>
            <a class="underlineHover px-4 nav-link" href="{% url 'forgot password page' %}">Forgot password?</a>
        </div>
    </div>
    {% include "modal.html" %}
{% endblock %}