{% if messages %}
    {% for message in messages %}
        <div class="modal" tabindex="-1" role="dialog" id="messages-{{ message.tags }}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ message.tags }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" target="#messages-{{ message.tags }}" onclick="goTo('{% url 'login page' %}')" >
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="goTo('{% url 'login page' %}')" data-dismiss="modal" target="#messages-{{ message.tags }}">Close</button>
                </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(window).on('load',function(){
                $('#messages-{{ message.tags }}').modal('show');
            });
            function goTo(link){
                window.location.assign(link);
            }
        </script>
    {% endfor %}
{% endif %}