{% extends 'base.html' %}
{% block content %}
    <div class="card p-2" style="max-width:350px;margin: 80px auto;">
        <form class="px-4 py-3" id="registration_form" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" class="form-control {% if form.first_name.errors %} is-invalid{% endif %} " name="first_name" id="first_name" placeholder="Dan" {% if form.first_name.value %} value="{{form.first_name.value }}" {% endif %}>
                <div class="invalid-feedback">{{ form.first_name.errors }}</div>
            </div>
            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control {% if form.last_name.errors %} is-invalid{% endif %}" name="last_name" id="last_name" placeholder="Evans" {% if form.last_name.value %} value="{{form.last_name.value }}" {% endif %}>
                <div class="invalid-feedback">{{ form.last_name.errors }}</div>
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control {% if form.email.errors %} is-invalid{% endif %}" name="email" id="email" placeholder="email@example.com" {% if form.email.value %} value="{{form.email.value }}" {% endif %}>
                <div class="invalid-feedback">{{ form.email.errors }}</div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control {% if form.password1.errors %} is-invalid{% endif %}" name="password1" id="password1" placeholder="Password">
                <div class="invalid-feedback">{{ form.password1.errors }}</div>
            </div>
            <div class="form-group">
                <div class="g-recaptcha" data-sitekey="6LeA_60UAAAAAC5c32_Ms43N4RWvyCbM1wcQ6Ffv" name="g-recaptcha-response" style="transform: scale(0.94);transform-origin: left;"></div>
            </div>
            <button type="submit" class="btn btn-primary">Sign up</button>
        </form>
        <div class="dropdown-divider"></div>
        <div class="nav flex-column">
            <a class="underlineHover px-4 nav-link" href="{% url 'login page' %}">Back to login</a>
        </div>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        {% include "modal.html" %}
    </div>
{% endblock %}