{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item my-2 my-lg-0">Welcome back {{user}}</li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item my-2 my-lg-0"><a class="nav-link" href="{% url 'logout page' %}"  role="button" >Logout</a></li>
    </ul>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Brand
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for item in menu %}
                        {% ifchanged %}{% if not forloop.first %}<div class="dropdown-divider"></div>{% endif %}<a class="dropdown-item" href="#" onClick="get_param('brand','{{item.brand}}'); return false;">{{item.brand}}</a>{% endifchanged %}
                    {% endfor %}
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Appliance Type
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for item in menu %}
                        {% ifchanged %}{% if not forloop.first %}<div class="dropdown-divider"></div>{% endif %}<a class="dropdown-item" href="#" onClick="get_param('type','{{item.type}}'); return false;">{{item.get_type_display}}</a>{% endifchanged %}
                    {% endfor %}
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Appliance Age
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#" onClick="get_param('age','12'); return false;">New</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" onClick="get_param('age','24'); return false;">Mid</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" onClick="get_param('age','36'); return false;">Old</a>
                </div>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0" method="get">
            <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>





<table class="table">
    <thead class="thead-inverse thead-dark text-center">
        <tr>
            <th>Link</th>
            <th>Duration Time</th>
            <th>Appliance Type</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Age</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody class="text-center">
        {% for action in actions %}
            <tr>
                <td class="align-middle"><button type="button" class="btn btn-primary btn-sm">Download</button></td>
                <td class="align-middle">{{ action.get_duration}}</td>
                <td class="align-middle">{{ action.appliance.get_type_display }}</td>
                <td class="align-middle">{{ action.appliance.brand }}</td>
                <td class="align-middle">{{ action.appliance.model }}</td>
                <td class="align-middle">{{ action.appliance.age }}</td>
                <td class="align-middle">
                    {% for item,value in action.description.items %}
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                {{ item }} <span class="badge badge-primary badge-pill text-truncate" style="max-width: 100px;">{{value}}</span>
                            </li>
                        </ul>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>



{% if actions.has_other_pages %}
    <ul class="pagination justify-content-center">
        {% if actions.has_previous %}
            <li class="page-item"><a class="page-link" href="#" onClick="get_param('page','{{ actions.previous_page_number }}'); return false;">&laquo;</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
        {% endif %}

        {% for i in actions.paginator.page_range %}
            {% if actions.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="#" onClick="get_param('page','{{ i }}'); return false;">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if actions.has_next %}
            <li class="page-item"><a class="page-link" href="#" onClick="get_param('page','{{ actions.next_page_number }}'); return false;">&raquo;</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link" >&raquo;</span></li>
        {% endif %}
    </ul>
{% endif %}

<script>
    function get_param(param,value){
        var url = new URL(window.location.href);
        url.searchParams.set(param, value);
        window.location.assign(url);
    }
</script>

{% endblock %}